<!-- $Id: about_us.htm 16654 2009-09-09 10:29:24Z liuhui $ -->
{include file="pageheader.htm"}
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="2" class="group-title">{$lang.official_site}</th>
  </tr>
  <tr>
    <td class="first-cell" width="20%">{$lang.site_url}</td><td></td>
  </tr>
</table>
</div>
{literal}
<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}